{% load static %}
<!-- /admin/statistics -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Statistics</title>
    <script src="{% static '/styles/admin_page/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static '/styles/admin_page/style.css' %}">
</head>
<script> 
    console.log("{{request.user.username}}")
    var complains = JSON.parse("{{complains | escapejs}}");
</script>
<body>
  <div class="navbar">
    <a href="#home" style="font-size: 50px;">Inform-2-Address</a> 
    <div class="loginlogout">
        <a title="Log In" class="loginlogoutlink-login" href="/login/">Log In</a>
        <a title="Log Out" class="loginlogoutlink-logout" href="?action=logout">Log Out</a>
    </div>
</div>

  <h1>Authority Statistics</h1>

  <p class="heading">Enter the authority mobile number to get desired detials of authority</p>

  <form class="form" id="getdetails_form" action="statistics" method="POST">
    {% csrf_token %}
    <input type="mobile" id="form_auth_number" name = "mobile"/>
    <button type="submit"> Get details </button>
  </form>

  {% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}
  
  {% if authority %}
    
  <h1>Authority Details</h1>
  
  <table>
    <tr>
      <td>Authority Name</td>
      <td id="auth_name">{{authority.name}}</td>
    </tr>
    <tr>
      <td>Authority Mobile Number</td>
      <td id="auth_mob_num">{{authority.mobile_number}}</td>
    </tr>
    <tr>
      <td>Authority Department</td>
      <td id="auth_dept">authority.department</td>
    </tr>
    <tr>
      <td>Authority State</td>
      <td id="auth_state">authority.state</td>
    </tr>
    <tr>
      <td>Authority City</td>
      <td id="auth_city">{{authority.city}}</td>
    </tr>
    <tr>
      <td>Authority Region</td>
      <td id="auth_region">{{authority.region}}</td>
    </tr>
    <tr>
      <td>Authority Total Complains Resolved</td>
      <td id="auth_tot_res"></td>
    </tr>
    <tr>
      <td>Authority Total Complains Unresolved</td>
      <td id="auth_tot_unres"></td>
    </tr>
  </table>

  <!-- Infinte Scroll Starts -->

  <div class="container" id="container">
    <h1>Complaints</h1>
  </div>
    
  <br>
  <div class="container" id="container">
      <h2>{{empty}}</h2>
  </div>
  
  <div class="loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>

  {% endif %}
</body>
</html>