{% load static %}
<!-- /admin/statistics -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Statistics</title>
    <script src="{% static '/styles/admin_page/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static '/styles/admin_page/style.css' %}">
</head>
<script> 
    var complains = JSON.parse("{{complains | escapejs}}");
</script>
<style>
  .navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }

    .loginlogout{
      float: right;
    }
  </style>
<body>
  <div class="navbar">
    <a href="/admin/statistics" style="font-size: 50px;">Inform-2-Address</a> 
    <div class="loginlogout">
      <a title="Categories"  class="loginlogoutlink-login" href="/citizen/">Categories</a>
      <a title="Get Statistics"  class="loginlogoutlink-login" href="/admin/statistics">Get Statistics</a>
      <a title="Add authority"  class="loginlogoutlink-login" href="/admin/add_authority">Add authority</a>
      <a title="manage category"  class="loginlogoutlink-login" href="/admin/manage_category">Manage Category</a>
      {% if request.user.is_authenticated == False %}          
          <a title="Log In" class="loginlogoutlink-login" href="/login">Login</a>
      {% else %}
          <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Logout</a>
      {% endif %}
    </div>
</div>

  <h1>Authority Statistics</h1>

  <p class="heading">Enter the authority mobile number to get desired detials of authority</p>

  <form class="form" id="getdetails_form" action="{{request.path}}" method="POST" style = "padding: 0 1cm;">
    {% csrf_token %}
    <input type="mobile" id="form_auth_number" name = "mobile"/>
    <button type="submit"> Get details </button>
  </form>

  {% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}

  {% if authority %}
    
  <h1>Authority Details</h1>
  
  <table>
    <tr>
      <td>Authority Name</td>
      <td id="auth_name">{{authority.name}}</td>
    </tr>
    <tr>
      <td>Authority Mobile Number</td>
      <td id="auth_mob_num">{{authority.mobile_number}}</td>
    </tr>
    <tr>
      <td>Authority Department</td>
      <td id="auth_dept">{{authority.department}}</td>
    </tr>
    <tr>
      <td>Authority State</td>
      <td id="auth_state">{{authority.state}}</td>
    </tr>
    <tr>
      <td>Authority City</td>
      <td id="auth_city">{{authority.city}}</td>
    </tr>
    <tr>
      <td>Authority Region</td>
      <td id="auth_region">{{authority.region}}</td>
    </tr>
    <!-- <tr>
      <td>Authority Total Complains Resolved</td>
      <td id="auth_tot_res"></td>
    </tr>
    <tr>
      <td>Authority Total Complains Unresolved</td>
      <td id="auth_tot_unres"></td>
    </tr> -->
  </table>

  <!-- Infinte Scroll Starts -->
  <form action="{{request.path}}" method="post" style = "padding:1cm;">
    {% csrf_token %}
    <label for="region"> Region:</label>
    <input id="region" name = "region"  type="text"/>&nbsp;&nbsp;&nbsp;
    <label for="city"> City:</label>
    <input id="city" name = "city" type="text"/> &nbsp;&nbsp;&nbsp;
    <label for="state"> State:</label>
    <input id="state" name = "state" type="text"/> <br>
    <label for="time"> Posted within: </label>
    <select name="time" id="time">
      <option value = "showall"> Show all </option>
      <option value = "1week"> 1 Week </option>
      <option value = "15days"> 15 days </option>
      <option value = "1month"> 1 month </option>
      <option value = "6months"> 6 months </option>
      <option value = "1year"> 1 Year </option>
    </select><br>
    <input type="checkbox" id="UnresolvedOnly" name="UnresolvedOnly" value="True">
    <label for="UnresolvedOnly"> Unresolved Only </label><br>
    <input type="submit" value="Filter complinats"></imput><br>
    <input type="submit" value="Reset filter"></imput>
  </form>

  <div class="container" id="container">
    <h1>Complaints</h1>
  </div>
    
  <br>
  <div class="container" id="container">
      <h2>{{empty}}</h2>
  </div>
  
  <div class="loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>

  {% endif %}
</body>
</html>