{% load static %}
<!-- /authority/assigned_complains -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Complaints</title>
    <script src="{% static '/styles/authority_complains/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'styles/authority_complains/style.css' %}">
</head>
<body>
    <script>
        var complains = JSON.parse("{{complains | escapejs}}");
        // console.log(complains)
    </script>

<div class="navbar">
    <a href="/" style="font-size: 50px;">Inform-2-Address</a>
    <div class="loginlogout">
      {% if request.user.is_authenticated == False %}          
          <a title="Log In" class="loginlogoutlink-login" href="/login">Login</a>
      {% else %}
          <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Logout</a>
      {% endif %}
  </div>
</div>
  <form action="assigned_complains" method="post" style = "padding:1cm;">
    {% csrf_token %}
    <label for="region"> Region:</label>
    <input id="region" name = "region"  type="text"/> &nbsp;&nbsp;&nbsp;
    <label for="city"> City:</label>
    <input id="city" name = "city" type="text"/> &nbsp;&nbsp;&nbsp;
    <label for="state"> State:</label>
    <input id="state" name = "state" type="text"/> <br>
    
    
    <label for="time"> Posted within: </label>
    <select name="time" id="time">
      <option value = "showall"> Show all </option>
      <option value = "1week"> 1 Week </option>
      <option value = "15days"> 15 days </option>
      <option value = "1month"> 1 month </option>
      <option value = "6months"> 6 months </option>
      <option value = "1year"> 1 Year </option>
    </select><br>
    
    <input type="checkbox" id="UnresolvedOnly" name="UnresolvedOnly" value="True">
    <label for="UnresolvedOnly"> Unresolved Only </label><br>
    
    <input type="submit" value="Filter complinats"></imput><br>
    <input type="submit" value="Reset Filter"></imput>
  </form>

  <p id="chk"></p>

  <!-- Infinte Scroll Starts -->

  <div class="container" id="container">
    <h1>Complaints</h1>
  </div>
    
  <br>
  <div class="container" id="container">
      <h2>{{empty}}</h2>
  </div>
  
  <div class="loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>

</body>
</html>