{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage authority</title>
    <script src="{% static '/styles/manage_authority/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'styles/manage_authority/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/admin/statistics" style="font-size: 50px;">Inform-2-Address</a> 
        <div class="loginlogout">
          <a title="Categories"  class="loginlogoutlink-login" href="/citizen/">Categories</a>
          <a title="Get Statistics"  class="loginlogoutlink-login" href="/admin/statistics">Get Statistics</a>
          <a title="Add authority"  class="loginlogoutlink-login" href="/admin/add_authority">Add authority</a>
          <a title="manage category"  class="loginlogoutlink-login" href="/admin/manage_category">Manage Category</a>
          {% if request.user.is_authenticated == False %}          
              <a title="Log In" class="loginlogoutlink-login" href="/login">Login</a>
          {% else %}
              <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Logout</a>
          {% endif %}
      </div>
    </div>

    <h1>Manage Authority</h1>
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
    <p class="heading">Enter the details to add the authority to the category</p>
    <form class="form" id="get_cat_form" action="manage_authority" method = "POST" style = "padding:0.5cm 1cm;">
      {% csrf_token %}
        <label for="mobile"> Authority ID:</label>
        <input type="text" id="form_get_cat" name="mobile"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="category"> category:</label>
        <select name="category" id="get_cat_form">
          {% for category in categories %}
          <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
        <br>
        <input type="submit" name="submit" value="Add to the Category" style = "margin:0.5cm 0;"/>
    </form>

    <p class="heading">Enter the details to remove the authority from category</p>
    <form class="form" id="get_cat_form" action="manage_authority" method = "POST" style = "padding:0.5cm 1cm;">
      {% csrf_token %}
        <label for="mobile"> Authority ID:</label>
        <input type="text" id="form_get_cat" name="mobile"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="category"> category:</label>
        <select name="category" id="get_cat_form">
          {% for category in categories %}
          <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
        <br>
        <input type="submit" name="submit" value="Remove from the Category"style = "margin:0.5cm 0;"/>
    </form>
</body>
</html>