{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage authority</title>
    <script src="{% static '/styles/manage_authority/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'styles/manage_authority/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="#home" style="font-size: 50px;">Inform-2-Address</a> 
    </div>

    <h1>Manage Authority</h1>
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
    <p class="heading">Enter the details to add the authority to the category</p>
    <form class="form" id="get_cat_form" action="manage_authority" method = "POST">
      {% csrf_token %}
        <label for="mobile"> Authority ID:</label>
        <input type="text" id="form_get_cat" name="mobile"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="category"> category:</label>
        <input type="text" id="form_get_cat" name="category" style="margin: 5px;"/><br>
        <input type="submit" name="submit" value="Add to the Category"/>
    </form>

    <p class="heading">Enter the details to remove the authority from category</p>
    <form class="form" id="get_cat_form" action="manage_authority" method = "POST">
      {% csrf_token %}
        <label for="mobile"> Authority ID:</label>
        <input type="text" id="form_get_cat" name="mobile"/> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="category"> category:</label>
        <input type="text" id="form_get_cat" name="category" style="margin: 5px;"/><br>
        <input type="submit" name="submit" value="Remove from the Category"/>
    </form>
</body>
</html>