{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage authority</title>
    <script src="{% static '/styles/manage_authority/script.js' %}" defer></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'styles/manage_authority/style.css' %}">
    <style>
          
table {
  border: 2px black;
  border-collapse: collapse;
  width: 80%;
  margin:auto;
  margin-top: 1cm;
  padding: 1cm 0 0 0;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
.btn-block {
        margin-top: 10px;
        text-align: center;
        }
        button {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px; 
        background:  #669999;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        }
        button:hover {
        background:  #a3c2c2;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/admin/statistics" style="font-size: 50px;">Inform-2-Address</a> 
        <div class="loginlogout">
          <a title="Categories"  class="loginlogoutlink-login" href="/citizen/">Categories</a>
          <a title="Get Statistics"  class="loginlogoutlink-login" href="/admin/statistics">Get Statistics</a>
          <a title="Add authority"  class="loginlogoutlink-login" href="/admin/add_authority">Add authority</a>
          <a title="Edit authority"  class="loginlogoutlink-login" href="/admin/edit_authority">Edit authority</a>
          <a title="manage category"  class="loginlogoutlink-login" href="/admin/manage_category">Manage Category</a>
          {% if request.user.is_authenticated == False %}          
              <a title="Log In" class="loginlogoutlink-login" href="/login">Login</a>
          {% else %}
              <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Logout</a>
          {% endif %}
      </div>
    </div>

    <br><br>
    <form class="form" id="getdetails_form" action="/admin/manage_category" method="POST" style = "padding: 0 1cm;">
      <h3> Enter the details to see the authority list</h3><br>
      {% csrf_token %}
      <label for="region"> Region:</label>
      <input id="region" name = "region"  type="text"/> &nbsp;&nbsp;&nbsp;
      <label for="city"> City:</label>
      <input id="city" name = "city" type="text"/> &nbsp;&nbsp;&nbsp;
      <label for="state"> State:</label>
      <input id="state" name = "state" type="text"/> <br>
      <label for="position"> Position keyword:</label>
      <input type="text" id="position" name = "position"/><br>
      <button type="submit"> Get Authorities </button>
    </form>

    {% if authorities %}
  <table>
    <tr>
      <td> Name </td>
      <td> Mobile </td>
      <td> Region </td>
      <td> City </td>
      <td> State </td>
      <td> Department </td>
      <td> Position </td>
      <td> </td>
    </tr>
    {% for authority in authorities %}
    <tr>
      <td>{{authority.name}}</td>
      <td>{{authority.mobile_number}}</td>
      <td>{{authority.region}}</td>
      <td>{{authority.city}}</td>
      <td>{{authority.state}}</td>
      <td>{{authority.department}}</td>
      <td>{{authority.position}}</td>
      <td> <button onclick="location.href='{{request.path}}/{{authority.mobile_number}}'"> Manage category </button> </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
    {% if authority %}
      
    <h1>Manage Authority</h1>
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
      
      <table>
        <tr>
          <td>Authority Name</td>
          <td id="auth_name">{{authority.name}}</td>
        </tr>
        <tr>
          <td>Authority Mobile Number</td>
          <td id="auth_mob_num">{{authority.mobile_number}}</td>
        </tr>
        <tr>
          <td>Authority Department</td>
          <td id="auth_dept">{{authority.department}}</td>
        </tr>
        <tr>
          <td>Authority State</td>
          <td id="auth_state">{{authority.state}}</td>
        </tr>
        <tr>
          <td>Authority City</td>
          <td id="auth_city">{{authority.city}}</td>
        </tr>
        <tr>
          <td>Authority Region</td>
          <td id="auth_region">{{authority.region}}</td>
        </tr>
        <!-- <tr>
          <td>Authority Total Complains Resolved</td>
          <td id="auth_tot_res"></td>
        </tr>
        <tr>
          <td>Authority Total Complains Unresolved</td>
          <td id="auth_tot_unres"></td>
        </tr> -->
      </table>
    
      <p class="heading">Enter the details to add the authority to the Department</p>
      <form class="form" id="get_cat_form" action="{{request.path}}" method = "POST" style = "padding:0.5cm 1cm;">
        {% csrf_token %}
        <label for="category"> Department:</label>
        <select name="category" id="get_cat_form">
          {% for category in categories %}
          <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
        <br>
        <input type="submit" name="submit" value="Add to the Department" style = "margin:0.5cm 0;"/>
    </form>
    
    <p class="heading">Press the button to remove the authority from Department</p>
    <form class="form" id="get_cat_form" action="{{request.path}}" method = "POST" style = "padding:0.5cm 1cm;">
      {% csrf_token %}
      <input type="submit" name="submit" value="Remove from the Department"style = "margin:0.5cm 0;"/>
      </form>
      {% endif %}
</body>
</html>