<!-- User Home page -->
<!-- Static files are present in users/static/images (for images) and users/static/styles/home (for css and js)-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static '/styles/home/Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '/styles/home/jquery.js' %}"></script>
    <script src="{% static '/styles/home/ajax.js' %}"></script>
    <script src="{% static '/styles/home/Bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/home/fonts/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/styles/home/style.css' %}">
</head>
<script>
</script>
<body>
    <section>
        <!-- <nav class = "navbar navbar-expand-sm">
            <span class="navbar-brand">Inform-2-Address</span>
            <p class="chk">Hello</p>
            <span class="loginlogoutlinklogin">
                <a title="Log In" class="loginlogoutlink-login" href="/login/">Log In</a>
             </span>
             <span class="loginlogoutlinklogout">
                <a title="Log Out" class="loginlogoutlink-logout" href="?action=logout">Log Out</a>
             </span>
        </nav> -->

        <div class="navbar">
            <a href="" style="font-size: 50px;">Inform-2-Address</a> 
            <div class="loginlogout">
                <a title="Home" class="loginlogoutlink-login" href="/citizen">Home</a>
                {% if request.user.is_authenticated == False %}          
                    <a title="Log In" class="loginlogoutlink-login" href="/login">Login</a>
                    <a title="Sign Up" class="loginlogoutlink-logout" href="/signup">Signup</a>
                {% else %}
                    <a title="Log Out" class="loginlogoutlink-logout" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="carousel slide" id="mynavbar" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"></div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container cat-sec">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h-center">Categories</h1>
                </div>
            </div>
            {% for category in categories %}
                {% if forloop.counter0|divisibleby:4 %}
                    <div class="row">
                {% endif %}

                <div class="col-lg-3">
                    <img src="{% static 'images/blue.png' %} " class="img-thumbnail img-margin">
                    <div class="carousel-caption banner-text">
                        <label><a href="/citizen/{{category}}/complains" class="nav-link bg-w">{{category}}</a></label>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

</body>
</html>